<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uuid</key>
	<string>B0702880-A295-A8AB-F734-031A98A512DE</string>
	<key>uuids</key>
	<array>
		<string>B0702880-A295-A8AB-F734-031A98A512DE</string>
		<string>5A4BCFCE-174E-4BAC-A814-092E77F6B7E5</string>
	</array>
</dict>
</plist>
